.container {
  height: 100vh;
  background: #0f041a;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.header > a {
  color: white;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-right: 30px;
  transition: opacity 0.1s ease-out;
}

.header > a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .header {
    top: unset;
    /* left: unset; */
    /* right: 20px; */
    bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .header > a {
    margin-bottom: 20px;
    text-shadow: 0 0 20px #0f041a;
  }

  .logo {
    margin-left: -5px !important;
  }
}
